<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CheckerWithRedpen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CheckerWithRedpen.Properties.Settings>
            <setting name="RedpenPath" serializeAs="String">
                <value>D:\java\redpen-distribution-1.10.0\bin\redpen.bat</value>
            </setting>
            <setting name="JavaHome" serializeAs="String">
                <value>D:\Program Files\Java\jre1.8.0_151</value>
            </setting>
        </CheckerWithRedpen.Properties.Settings>
    </userSettings>
</configuration>
